# Порт, на котором запускается сервер
PORT=5000

# Режим работы (development или production)
NODE_ENV=development

# Строка подключения к базе данных MongoDB Atlas
# (Замените <username> и <password> на свои данные при создании локального .env)
MONGO_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/tropa_koster_db?retryWrites=true&w=majority

# Секретный ключ для подписи JWT-токенов авторизации
JWT_SECRET=super_secret_key_for_jwt_tokens_12345
